*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    text-decoration: none;
}
 body {
     background-color: black;
 }
.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    z-index: 999;
}

.navbar-container {
    display: flex; 
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.navbar-logo {
    display: flex;
    height: 80px;
}

.navbar-logo-2{
    display: none;
    height: 80px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    display: flex;
    padding: 5px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 18px;
    padding: 0 1rem;
    height: 100%;
}


.navbar-item img {
    height: 49px;
    padding-top: 10px;
}

/*animations*/

/*whitepaper*/
@property --a {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 10%;
}
@property --b {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 60%;
}
@property --c {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}

body {
  background-color: black;
}

.icon-whitepaper {
  width: 52px;
  height: 49px;
  position: relative;
  display: flex;
  margin-top: 5px;
  top: 6px;
}

.whitepaper-rectangle-cover {
  --a: 5%;
  --b: 70%;
  --c: 100%;
  
  position: absolute;
  background: linear-gradient(270deg, #FFFFFF var(--a), #000000 var(--b), #000000 var(--c));
  top: 0;
  left: 0.5px;
  width: 29px;
  height: 40px;
  z-index: -1;
  border-radius: 2px;
  box-shadow: 0px 0px 4px 4px rgba(255,255,255, 0);
  transition: --x 0.5s 0.2s, --y 0.5s, box-shadow 0.7s 0.2s;
}

.icon-whitepaper:hover .whitepaper-rectangle-cover {
  --a: 100%;
  --b: 100%; 
   box-shadow: 0px 0px 4px 4px rgba(255,255,255, 0.25);
}

.white-line {
  position: absolute;
  top: 30.5px;
  left: 28px;
  width: 10px;
  height: 2px;
  background-color: white;
  transition: transform 0.7s;
}

.icon-whitepaper:hover .white-line {
  transform: translateX(-18px);
}

.whitepaper-white-star {
  position: absolute;
  top: 23px;
  left: 31px;
  transition: transform 0.7s;
}

.icon-whitepaper:hover .whitepaper-white-star {
  transform: translateX(-21px);
}

.whitepaper-black-star  {
  position: absolute;
  top: -22px;
  left: 1px;
  opacity: 0;
  transition: transform 0.7s, opacity 0.7s;
  
}

.icon-whitepaper:hover .whitepaper-black-star {
  transform: translateY(28px);
  opacity: 100%;
  
}
  /*starmap*/
  
  @property --d {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 3%;
  }
  @property --e {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 15%;
  }
  @property --f {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 30%;
  }
  
  @property --g {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 30%;
  }
  
  @property --h {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 17.75%;
  }
  
  @property --i {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 100%;
  }
 
  .icon-starmap {
    position: relative;
    width: 65px;
    height: 40px;
    top: 15px;
    margin-top: 14px;
    top: 2px;
  }
   .icon-starmap .box {
    --d:3%;
    --e:15%;
    --f:30%;
  
    width: 51px;
    height: 22px;
    transform: perspective(1px) rotateX(1deg);
    margin: 10px auto;
    border-radius: 5px;
    background: linear-gradient(25deg, white var(--d), black var(--e), white var(--f));
    transition:--d 0.7s,--e 0.7s 0.2s,--f 0.7s 0.2s, 
      box-shadow 0.2s 0.2s;
    }
  
  .icon-starmap:hover .box {
    --d: 10%;
    --e: 250%;
    --f: 150%;
    box-shadow: 0 -6px 20px #FFF; 
  }
  
  .icon-starmap .sphere {
    --h:17.75%;
    --i:100%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: radial-gradient(59.05% 59.05% at 17.7% 91.06%, #FFFFFF var(--h), #000000 var(--i));
    transform: rotate(180deg);
    position: absolute;
    top: 3px;
    left: 15px;
    transition: box-shadow 0.2s 0.2s,
                --h 0.7s,--i 0.7s,
                transform 0.5s;
  }
  
  .icon-starmap:hover .sphere {
    box-shadow: 0 4px 15px 5px #FFF;
    transform: translateX(8px);
  }
  
  .starmap-blackstar {
    position: absolute;
    top: 11px;
    left: 35px;
    transition: transform 0.5s ease-in;
  }
  
  .starmap-whitestar {
    position: absolute;
    top: -8px;
    left: 35px;
    transition: transform 0.5s ease-in;
    z-index: -1;
  }
  
  .icon-starmap:hover .starmap-whitestar {
    transform: translateY(19px);
  }
  
  .icon-starmap:hover .starmap-blackstar {
    transform: translateY(-37px);
  }
  
/*gallery*/

@property --j {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 36%;
}
@property --k {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}

.icon-gallery {
  width: 41px;
  height: 40px;
  position: relative;
  margin-top: 15px;
  top: -3px;
}

.rect-1 {
  width: 15px;
  height: 13px;
  background: linear-gradient(270deg, #FFFFFF var(--j), #000000 var(--k));
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: --j 0.7s,--k 0.7s;
}

.icon-gallery:hover .rect-1 {
  --j: 100%;
  --k: 100%;
}

.rect-1-glow {
  width: 15px;
  height: 7px;
  background-color: white;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 4px 4px rgba(255,255,255, 0.25);
  opacity: 0;
  transition: opacity 0.7s 0.5s;
}

.icon-gallery:hover .rect-1-glow {
  opacity: 100%;
}

.rect-2 {
  width: 19px;
  height: 13px;
  background: linear-gradient(270deg, #FFFFFF var(--j), #000000 var(--k));
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 22px;
  z-index: 1;
  transition: --j 0.7s,--k 0.7s;
}

.icon-gallery:hover .rect-2 {
 --j: 100%;
  --k: 100%;
}

.rect-2-glow {
  width: 19px;
  height: 6px;
  background-color: white;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 22px;
  box-shadow: 0px 0px 4px 4px rgba(255,255,255, 0.25);
  opacity: 0;
  transition: opacity 0.7s 0.5s;
}

.icon-gallery:hover .rect-2-glow {
  opacity: 100%;
}

.rect-3 {
  width: 22px;
  height: 12px;
  background: linear-gradient(270deg, #FFFFFF var(--j), #000000 var(--k));
  border-radius: 2px;
  position: absolute;
  top: 19px;
  left: 0;
  z-index: 1;
  transition: --j 0.7s,--k 0.7s;
}

.icon-gallery:hover .rect-3 {
  --j: 100%;
  --k: 100%;
}

.rect-3-glow {
  width: 5px;
  height: 12px;
  background-color: white;
  border-radius: 2px;
  position: absolute;
  top: 19px;
  left: 0;
  box-shadow: 0px 0px 4px 4px rgba(255,255,255, 0.25);
  opacity: 0;
  transition: opacity 0.7s 0.5s;
}

.icon-gallery:hover .rect-3-glow {
  opacity: 100%;
}

.rect-4 {
  width: 12px;
  height: 22px;
  background: linear-gradient(270deg, #FFFFFF var(--j), #000000 var(--k));
  border-radius: 2px;
  position: absolute;
  top: 19px;
  left: 29px;
  z-index: 1;
  transition:--j 0.7s,--k 0.7s, height 0.7s;
}

.icon-gallery:hover .rect-4 {
  --j: 100%;
  --k: 100%;
  height: 12px;
}

.rect-4-glow {
  width: 7px;
  height: 12px;
  background-color: white;
  border-radius: 2px;
  position: absolute;
  top: 19px;
  left: 34px;
  box-shadow: 0px 0px 4px 4px rgba(255,255,255, 0.25);
  opacity: 0;
  transition: opacity 0.7s 0.5s;
}

.icon-gallery:hover .rect-4-glow {
  opacity: 100%;
}

.rect-5 {
  width: 22px;
  height: 2.5px;
  background: linear-gradient(90deg, #FFFFFF var(--j), #000000 var(--k));
  border-radius: 2px;
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 1;
  transition:--j 0.7s,--k 0.7s, width 0.7s;
}

.icon-gallery:hover .rect-5 {
  --j: 100%;
  --k: 100%;
  width: 41px;
}

.rect-5-glow {
  width: 22px;
  height: 2.5px;
  background-color: white;
  border-radius: 2px;
  position: absolute;
  top: 38px;
  left: 0;
  box-shadow: 0px 0px 4px 4px rgba(255,255,255, 0.25);
  opacity: 0;
  transition: opacity 0.7s 0.2s, width 0.7s;
}

.icon-gallery:hover .rect-5-glow {
  opacity: 100%;
  width: 40px;
}
  
  /*team*/

  @property --l {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 45.32%;
  }
  @property --m {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 75.68%;
  }
  
  .icon-team {
    width: 52px;
    height: 49px;
    position: relative;
    margin-top: 8px;
    top: 2px;
  }
  
  .ellipse-1 {
    --l: 45.32%;
    --m: 75.68%;
    
    position: absolute;
    width: 18px;
    height: 16px;
    left: 6px;
    top: 24px;
    border-radius: 95% 0;
    background: linear-gradient(315deg, #FFFFFF var(--l), #000000 var(--m));
    transition:--l 0.7s,--m 0.7s;
    transform: rotate(110deg);
  }
  
  .icon-team:hover .ellipse-1{
    --l: 35%;
    --m: 55%;
  }
  
  .ellipse-2 {
  position: absolute;
  width: 18px;
  height: 16px;
  left: 5px;
  top: 5px;
  border-radius: 95% 0;
  background: linear-gradient(315deg, #FFFFFF var(--l), #000000 var(--m));
  transition:--l 0.7s,--m 0.7s;
  transform: rotate(-208deg);
  }
  
  .icon-team:hover .ellipse-2{
    --l: 35%;
    --m: 55%;
  }
  
  .ellipse-3 {
  position: absolute;
  width: 18px;
  height: 16px;
  left: 20.3px;
  top: -5px;
  border-radius: 95% 0;
  background: linear-gradient(315deg, #FFFFFF var(--l), #000000 var(--m));
  transition:--l 0.7s,--m 0.7s;
  transform: rotate(222deg);
  }
  
  .icon-team:hover .ellipse-3{
    --l: 35%;
    --m: 55%;
  }
  
  .ellipse-4 {
  position: absolute;
  width: 18px;
  height: 16px;
  left: 36px;
  top: 5px;
  border-radius: 95% 0;
  background: linear-gradient(315deg, #FFFFFF var(--l), #000000 var(--m));
  transition:--l 0.7s,--m 0.7s;
  transform: rotate(-67deg);
  }
  
  .icon-team:hover .ellipse-4{
    --l: 35%;
    --m: 55%;
  }
  
  .ellipse-5 {
  position: absolute;
  width: 18px;
  height: 16px;
  left: 36px;
  top: 24px;
  border-radius: 95% 0;
  background: linear-gradient(315deg, #FFFFFF var(--l), #000000 var(--m));
  transition:--l 0.7s,--m 0.7s;
  transform: rotate(-25deg);
  }
  
  .icon-team:hover .ellipse-5{
    --l: 35%;
    --m: 55%;
  }
  
  .team-star {
    position: absolute;
    top: 11px; 
    left: 18px;
    transition: transform 0.7s ease-in-out;
  }
  
  .icon-team:hover .team-star {
    transform: translateY(-5px);
  }
  
  .team-star-2 {
    position: absolute;
    top: 1px; 
    left: 8px;
    transition: transform 0.7s ease-in-out, opacity 0.7s 0.2s ease-in-out;
    opacity: 0;
  }
  
  .icon-team:hover .team-star-2 {
    transform: translateY(-5px);
    opacity: 100%;
  }
  
  

  /*logo*/

  .logo-animated {
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  #movelogo .first-eye {
    position: absolute;
    transition: opacity 0.7s ease-in-out;
  }
  
  #movelogo .second-eye {
    position: absolute;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
  }
  
  #movelogo:hover .first-eye {
    opacity: 0;
  }
  
  #movelogo:hover .second-eye {
    opacity: 100%;
  }
  

  /*MAIN CONTENT*/

  .container {
    width: 100%;
    max-width: 1920px;
    margin: 150px auto;
    height: auto;
  }

  .content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .video {
    width: 949px;
    height: 524px;
    background-color: grey;
  }

  .text-wrapper {
    width: 584px;
    height: 200px;
    margin-top: 15%;
    margin-left: 100px;
  }

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
  }

  .introduction {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
  }

  .watch {
    width: 222.86px;
    height: 63px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px;
    background: #2400FF;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
  }

  .watch p {
    margin-left: 17px;
  }

  .watch svg {
    margin-left: -10px;
  }

  h1 {
    text-align: center;
    font-size: 72px;
    margin-bottom: 40px;
    margin-top: -20px;
  }

  .columns {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .column-1 {
    width: 40%;
  }

  .info-left {
    margin: 50px 0 50px 70px;
    width: 650px;
    height: 451px;
    background-color: grey;
  }

  .info-right {
    margin: 50px 0 260px 30px;
    width: 650px;
    height: 251px;
  }

  .column-2 {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    position: relative;
  }

  .column-3 {
    width: 46%;
  }

  h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 46.9853px;
    line-height: 47px;
    letter-spacing: 0.05em;
    margin-bottom: 25px;
  }

  h5 {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .info-right p, .creator-box p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.05em;
    margin-bottom: 25px;
  }

  .big-star {
    position: absolute;
    top: 0;
  }

  .small-star {
    position: absolute;
    top: 550px;
  }
  
  .starline {
    width: 1px;
    height: 1200px;
    background-color: white;
  }

  .read-more-wrapper {
    display: flex ;
    flex-direction: row-reverse;
  }

  .read-more {
    width: 286px;
    height: 75px;
    background-color: #FF3434;
    border: none;
    font-size: 46px;
    text-transform: uppercase;
  }

  .main-creator {
    width: 100%;
    height: 476px;
    background-color: grey;
    display: flex;
    flex-direction: row-reverse;
  }
 
  .creator-box {
    width: 624px;
    height: 412px;
    background-color: lightgray;
    margin: 24px 280px 40px 0;
    padding-top: 60px;
  }


  .grid-section {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .grid-section p {
    padding-top: 15px;
    width: 560px;
    text-align: justify;
  }

  .grid-collection-wrapper{
    width: 1170px;
    margin: 0 auto;
  }
  .grid-collection {
    width: 1170px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 200px 200px 200px;
    column-gap: 60px;
    row-gap: 100px;
  }

  .team-member {
    width: 350px;
    height: 200px;
  }

  .team-member img {
    height: 172.47837829589844px;
    width: 350px;
    background: conic-gradient(from 180deg at 50% 50%, #0500FF 0deg, #D05757 360deg);
  }

 

  .grid-collection .position-description {
    width: 350px;
    font-size: 16px;
  }

  h6 {
    font-size: 20px;
  }

  h2 {
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 91px;
    letter-spacing: 0.05em;
    width: 1170px;
  }
            

@media screen and (max-width: 869px){
    .navbar-links {
        font-size: 14px;
    }
}

@media screen and (max-width: 650px){
    .navbar-menu {
        width: 100%;
        justify-content: center;
        transform: scale(1);
    }
    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;  
    }
    
}

@media screen and (max-width: 489px){
    .navbar-logo {
        display: none;
    }
    .navbar-logo-2 {
        display: flex;
        height: 80px;
        position: absolute;
        top: 10px;
        left: 40%;
    }
    .navbar-menu {
        width: 100%;
        justify-content: space-evenly;
        transform: scale(1);
    }
    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
        
    }
    
}

@media screen and (max-width: 370px){
    .navbar-menu {
        width: 100%;
        justify-content: space-evenly;
        transform: scale(0.9);
    }
    
    
}
    
    
