*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    text-decoration: none;
}
 body {
     background-color: black;
 }
.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    z-index: 999;
}

.navbar-container {
    display: flex; 
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}
.navbar-logo {
    display: flex;
    height: 80px;
}

.navbar-logo-2{
    display: none;
    height: 80px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 18px;
    padding: 0 1rem;
    height: 100%;
}


.navbar-item img {
    height: 49px;
    padding-top: 10px;
}

/*animations*/

/*whitepaper*/

.glow {
    background-color: black;
    width: 60px;
    height: 49px;
    padding: 10px;
    position: relative;
}

#movestar .rectangle {
    width: 28.16px;
    height: 39.64px;
    position: absolute;
    top: 10px;
    left: 45px;
    opacity: 0;
    background-color: white;
    box-shadow: 0px 0px 10px #FFFFFF;
    border-radius: 2px;
    transition: opacity 0.7s ease-in 0.2s;
    z-index: 20;
  }

#movestar .rectangle2 {
    width: 28.16px;
    height: 39.64px;
    background-color: #FFFFFF;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 45px;
  }

#movestar .snake {
    position: absolute;
    top: 17px;
    left: 39px;
    z-index: 18;
  }

#movestar .startail {
    position: absolute;
    top: 32px;
    left: 64px;
    transition: transform 0.7s ease-in 0.2s;
  }

#movestar .blackstar {
    position: absolute;
    top: -15px;
    left: 45px;
    opacity: 0;
    z-index: 21;
    transition: opacity 0.7s ease-in 0.2s,
                transform 0.7s ease-in 0.2s;
  }

#movestar:hover .startail {
    transform: translateX(-19px);
  }
  
  
#movestar:hover .rectangle {
    opacity: 100%;
  }
  

#movestar:hover .blackstar {
    opacity: 100%;
    transform: translateY(25px);
  }

  /*starmap*/
  
  .starmap {
    width: 60px;
    height: 50px;
    position: relative;
    margin: 0 auto;
  }
  
  #movestarmap .rectangle {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
  }
  
  #movestarmap .circle {
    position: absolute;
    top: 18px;
    left: 15px;
    transition: transform 0.7s ease-in;
    z-index: 1;
  }
  
  #movestarmap .blackstar {
    position: absolute;
    top: 27px;
    left: 32px;
    transition: transform 0.7s ease-in;
  }
  
  #movestarmap .whitestar {
    position: absolute;
    top: 7px;
    left: 32px;
    z-index: -1;
    transition: transform 0.7s ease-in;
  }
  
  #movestarmap .rectangle-glow {
    position: absolute;
    top: 18px;
    transform: scale(1.3);
    left: 0;
    margin: 0 auto;
    width: 100%;
    opacity: 0;
    transition: opacity 0.7s ease-in;
  }
  
  
  /*hover*/
  
  #movestarmap:hover .blackstar {
    transform: translateY(-20px);
  }
  
  #movestarmap:hover .whitestar {
    transform: translateY(20px);
  }
  
  #movestarmap:hover .circle{
    transform: translateX(7px) rotate(-180deg);
  }
  
  #movestarmap:hover .rectangle-glow {
    opacity: 100%;
  }

/*gallery*/


.gallery {
    width: 60px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
  
  #movegallery .first-rec {
    position: absolute;
    top: 8px;
    left: 7px;
    transition: opacity 0.7s ease-in 0.2s;
  }
  
  #movegallery .second-rec {
    position: absolute;
    top: 8px;
    left: 30px;
    transition: opacity 0.7s ease-in 0.2s;
  }
  
  
  #movegallery .third-rec {
    position: absolute;
    top: 28px;
    left: 7px;
    transition: opacity 0.7s ease-in 0.2s;
  }
  
  #movegallery .fourth-rec {
    position: absolute;
    bottom: 0;
    left: 38px; 
    transition: opacity 0.7s ease-in 0.2s;
  }
  #movegallery .fifth-rec {
    position: absolute;
    bottom: 0;
    left: 7px;
    transition: opacity 0.7s ease-in 0.2s;
  }
  
  .rect-first {
    width: 16px;
    height: 14px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    top: 8px;
    left: 7px;
    box-shadow: 0px 0px 10px #FFFFFF;
    opacity: 0;
    transition: opacity 0.7s ease-in 0.2s;
  }
  
  .rect-second {
    width: 21px;
    height: 14px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    top: 8px;
    left: 30px;
    box-shadow: 0px 0px 10px #FFFFFF;
    opacity: 0;
    transition: opacity 0.7s ease-in 0.2s;
  }
  
  .rect-third {
    width: 24px;
    height: 14px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    top: 28px;
    left: 7px;
    box-shadow: 0px 0px 10px #FFFFFF;
    opacity: 0;
    transition: opacity 0.7s ease-in 0.2s;
  }
  
  .rect-fourth {
    position: absolute;
    top: 28px;
    left: 38px;
    width: 13px;
    height: 22px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #FFFFFF;
    opacity: 0;
    transition: height 0.7s ease-in 0.2s,
                opacity 0.7s ease-in 0.2s;
                
  }
  
  .rect-fifth {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 7px;
    box-shadow: 0px 0px 10px #FFFFFF;
    opacity: 0;
    transition: width 0.7s ease-in 0.2s,
                opacity 0.7s ease-in 0.2s;
                
  }
  
  #movegallery:hover .first-rec {
    opacity: 0;
  }
  
  
  #movegallery:hover .second-rec{
    opacity: 0;
  } 
  #movegallery:hover .third-rec {
    opacity: 0;
  }
  
  #movegallery:hover .fourth-rec {
    opacity: 0;
  }
  
  #movegallery:hover .fifth-rec {
    opacity: 0;
  }
  
  #movegallery:hover .rect-first {
    opacity: 100%;
  }
  
  #movegallery:hover .rect-second {
    opacity: 100%;
  } 
  
  
  #movegallery:hover .rect-third{
    opacity: 100%;
  }
  #movegallery:hover .rect-fourth {
    opacity: 100%;
    height: 14px;
  }
  #movegallery:hover .rect-fifth {
    opacity: 100%;
    width: 44px;
  }
  
  /*team*/

  
.team {
    width: 60px;
    height: 50px;
    position: relative;
    margin: 0 auto;
  }
  
  #moveteam .star  {
    position: absolute;
    bottom: -6px;
    left: 0;
    margin: 0 auto;
    width: 100%;
    opacity: 100%;
    transition: transform 0.7s ease-in-out 0.5s,
                opacity 0.7s ease-in-out 0.5s;
  }
  #moveteam .star-two {
    position: absolute;
    bottom: -10px;
    left: 0;
    margin: 0 auto;
    width: 100%;
    opacity: 0;
    z-index: 5;
    transition: opacity 0.7s ease-in 0.5s;
  }
  
  #moveteam .ellipse-one,#moveteam .ellipse-one-after {
    position: absolute;
    left: 39px;
    bottom: 0;
  }
  
  #moveteam .ellipse-one-after {
    opacity: 0;
    transition: opacity 0.7s ease-in-out 0.5s;
  }
  
  #moveteam .ellipse-two, #moveteam .ellipse-two-after {
    position: absolute;
    left: 19px;
    bottom: 30px;
  }
  
  #moveteam .ellipse-two-after {
    opacity: 0;
    transition: opacity 0.7s ease-in-out 0.5s;
  }
  
  #moveteam .ellipse-three, #moveteam .ellipse-three-after{
    position: absolute;
    left: 8px;
    bottom: 18px;
  }
  
  #moveteam .ellipse-three-after {
    opacity: 0;
    transition: opacity 0.7s ease-in-out 0.5s;
  }
  
  #moveteam .ellipse-four, #moveteam .ellipse-four-after {
    position: absolute;
    left: 39px;
    bottom: 18px;
  }
  
  #moveteam .ellipse-four-after{
    opacity: 0;
    transition: opacity 0.7s ease-in-out 0.5s;
  }
  
  #moveteam .ellipse-five, #moveteam .ellipse-five-after {
    position: absolute;
    left: 8px;
    bottom: 0;
  }
  
  #moveteam .ellipse-five-after {
    opacity: 0;
    transition: opacity 0.7s ease-in-out 0.7s;
  }
  
  
  #moveteam:hover .ellipse-one-after, #moveteam:hover .ellipse-two-after, #moveteam:hover .ellipse-three-after, #moveteam:hover .ellipse-four-after, #moveteam:hover .ellipse-five-after {
    opacity: 100%;
  }
  
  #moveteam:hover .star {
    opacity: 0;
    transform: translateY(-5px);
  }
  
  #moveteam:hover .star-two {
    opacity: 100%;
  }
  
  /*logo*/

  .logo-animated {
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  #movelogo .first-eye {
    position: absolute;
    transition: opacity 0.7s ease-in-out;
  }
  
  #movelogo .second-eye {
    position: absolute;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
  }
  
  #movelogo:hover .first-eye {
    opacity: 0;
  }
  
  #movelogo:hover .second-eye {
    opacity: 100%;
  }
  
  

@media screen and (max-width: 869px){
    .navbar-links {
        font-size: 14px;
    }
}

@media screen and (max-width: 650px){
    .navbar-menu {
        width: 100%;
        justify-content: center;
        transform: scale(1);
    }
    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;  
    }
    
}

@media screen and (max-width: 489px){
    .navbar-logo {
        display: none;
    }
    .navbar-logo-2 {
        display: flex;
        height: 80px;
        position: absolute;
        top: 10px;
        left: 40%;
    }
    .navbar-menu {
        width: 100%;
        justify-content: space-evenly;
        transform: scale(1);
    }
    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
        
    }
    
}

@media screen and (max-width: 370px){
    .navbar-menu {
        width: 100%;
        justify-content: space-evenly;
        transform: scale(0.9);
    }
    
    
}
    
    
